k8s {
 namespace = 'medgen-ns'
 runAsUser = 1000
// storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
storageMountPath = '/mnt'
 launchDir = '/mnt/shared/MedGen/Palecek_HiC/pictures/launch'
 projectDir = '/mnt/shared/MedGen/Palecek_HiC/pictures/project'
 workDir = '/mnt/shared/MedGen/Palecek_HiC/pictures/work'
}

params {
 get_csvs = "${k8s.projectDir}/xsvato01/KSK_ACGT/gene_list.py"
 cat_csvs = "${k8s.projectDir}/xsvato01/KSK_ACGT/merge_csvs.py"

}

executor {
 queueSize =  25
}

process {
 container = 'quay.io/bgruening/galaxy-hicexplorer'
 scratch = true
 cpus = 64
 memory = '200GB'
 executor = 'k8s'
 time = '720.h'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]

}
